.projects {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-gap: 40px;
}

@media screen and (max-width: 1200px) {
	.projects {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		grid-gap: 30px;
	}
}

@media screen and (max-width: 860px) {
    .projects {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-gap: 20px;
	}
}

@media screen and (max-width: 580px) {
	.projects {
		grid-template-columns: 1fr;
	}
}
