.work-projects {
	max-width: 1600px;
	margin: auto;
}

.projects {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-gap: 40px;
	max-width: 1600px;
	margin: auto;
}

.projects__caption {
	@apply text-center text-lg md:text-xl lg:text-2xl lg:mb-8;
	@apply flex items-center gap-4 justify-center;
}

@media screen and (max-width: 1200px) {
	.projects {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		grid-gap: 30px;
	}
}

@media screen and (max-width: 860px) {
    .projects {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-gap: 20px;
	}
}

@media screen and (max-width: 580px) {
	.projects {
		grid-template-columns: 1fr;
	}
}

