* {
	margin: 0;
	padding: 0;
}

html {
	border: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

:target::before {
	content: "";
	display: block;
	height: 100px; 
	margin: -110px 0 0; 
}

.home-page .header {
	order: 1;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 18px;
	background-color: whitesmoke;
	border-bottom: solid 1px silver;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.header__caption {
	float: left;
	font-family: Lobster;
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
	padding-left: 5%;
	margin: 15px;
}

.header__btns {	
	display: flex;
	justify-content: flex-end;
	padding-right: 5%;
}

.header__btn {
	font-size: 30px;
	font-weight: bold;
	border: none;
	background-color: inherit;
	margin: 15px;
	padding: 5px;
}

.header__btn:hover,
.project:hover,
.article:hover,
.certificate:hover,
.contact-list > li:hover {
	background: linear-gradient(45deg, silver, whitesmoke);
	border-radius: 10px;
}

.home-page .footer {
	order: 3;
	width: 100%;
	text-align: center;
	color: rgb(104,104,104);
}

.subsection__header {
	font-size: 35px;
	padding: 10px;
}

.main {
	order: 2;
	padding-top: 100px;
	width: 100%;
}

.main__subsection {
	margin: 50px 20px 100px;
}

.main__subsection:last-of-type {
	margin-bottom: 150px;
}

.aboutme__photo {
	float: left;
	width: 150px;
	height: 150px;
	padding: 10px 10px 10px 10px;
	margin-right: 20px;
	border-radius: 50%;
}

.aboutme__text {
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	padding: 5px 40px 20px 20px;
}

.aboutme__paragraph {
    text-indent: 20px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.project a {
	margin: 20px 0;
	padding: 8px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.icon {
	height: 130px;
	width: 260px;
	padding: 15px 0;
}

.project__memoji-game > a > .icon {
	background: url('project__memoji-game.png') no-repeat center;
}

.project__binary-calculator > a > .icon {
	background: url('project__binary-calculator.png') no-repeat center;
}

.project__hadn-dadn > a > .icon {
	background: url('project__hadn-dadn.png') no-repeat center;
}

.project__smartphone > a > .icon {
	background: url('project__smartphone.png') no-repeat center;
}

.project__tribute-page > a > .icon {
	background: url('project__tribute-page.png') no-repeat center;
}

.project__messier-objects > a > .icon {
	background: url('project__messier-objects.png') no-repeat center;
}

.project__design-system > a > .icon {
	background: url('project__design-system.png') no-repeat center;
}

.project__sportmaster > a > .icon {
	background: url('project__sportmaster.png') no-repeat center;
}


.caption {
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
}

.articles, 
.certificates {
	padding-left: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.article,
.certificate {
	margin: 10px;
	padding: 8px;
}

.article > .caption,
.certificate > .caption {
	text-align: center;
}


.subsection__contacts {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	justify-content: space-between;
}

.contact-list {
	list-style: none;
}

.contact-list > li {
	margin: 20px 0;
	font-size: 25px;
	padding: 5px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.contact-form__header{
	margin: 20px 0 10px;
}

.contact-icon {
	margin: 0 15px;
}

button:focus {
	outline: 0;
	/*box-shadow: inset 0 0 10px 0 grey;*/
}

.header__mobile-menu {
	display: none;
}

@media screen and (max-width: 780px) {
	.header {
		position: fixed;
		left: 0;
		top: 0;
		padding: 0;
	}
	.header__btns {
		display: none;
	}	
	.main {
		padding-top: 0;
	}	
	.projects {
		flex-direction: column;
	}
	.aboutme__text,
	.caption,
	.contact-list > li {
		font-size: 18px;
	}
	.aboutme__text {
		line-height: 22px;
	}
	.header__mobile-menu {
		display: flex;
		justify-content: flex-end;
		padding: 1rem;
	}
	.header__menu-btn {
		font-size: 40px;
		border: none;
		background-color: transparent;
	}
	#menu-box{
		flex-direction: column;
	}
	.header__btn {
		text-decoration: underline;
	}
}

@media screen and (max-width: 1024px) {
	.header__caption {
		font-size: 20px;
	}
	.header__btn {
		font-size: 20px;
	}
	.projects {
		flex-direction: column;
	}
}