:root {
	--pale-turquoise:  rgba(223, 246, 245, 0.5);
	--white-turquoise: #F8FEFE;
	--soft-mint-blue: rgba(181, 234, 234, 0.3);
	--slightly-lighter-grey: #444444;
	--charcoal-grey: #2E2E2E;
	--muted-coral: #F6C6B5;
	
	--home-background-color: var(--soft-mint-blue);
	--home-text-color: var(--charcoal-grey) ;
	--home-inverted-background-color: var(--white-turquoise);
	--home-inverted-text-color: var(--slightly-lighter-grey);
	--header-background-color: #fff;
	--header-text-color: var(--slightly-lighter-grey);
	--footer-height: 16px;
	--footer-padding: 10px;
}


* {
	margin: 0;
	padding: 0;
}

html {
	border: none;
	scroll-behavior: smooth;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

html, body {
    max-width: 100%;
}

:target::before {
	content: "";
	display: block;
	height: 67px; 
	margin: -80px 0 0; 
}

.home-page {
	color: var(--home-text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.home-page .header {
	order: 1;
}

.home-page .main {
	order: 2;
}

.home-page .footer {
	order: 3;	
}
