.my-background {
	display: flex;
	flex-direction: column;
}

.my-certificates,
.my-experience {
	font-size: 24px;
}

.vertical-timeline::before {
	/* this is the vertical line */
  
	background: #b5eaea4d !important;
  }
  