
.project a {
	margin: 20px 0;
	padding: 8px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.icon {
	height: 130px;
	width: 260px;
	padding: 15px 0;
}

.project__memoji-game > a > .icon {
	background: url('project__memoji-game.png') no-repeat center;
}

.project__binary-calculator > a > .icon {
	background: url('project__binary-calculator.png') no-repeat center;
}

.project__hadn-dadn > a > .icon {
	background: url('project__hadn-dadn.png') no-repeat center;
}

.project__smartphone > a > .icon {
	background: url('project__smartphone.png') no-repeat center;
}

.project__tribute-page > a > .icon {
	background: url('project__tribute-page.png') no-repeat center;
}

.project__messier-objects > a > .icon {
	background: url('project__messier-objects.png') no-repeat center;
}

.project__design-system > a > .icon {
	background: url('project__design-system.png') no-repeat center;
}

.project__sportmaster > a > .icon {
	background: url('project__sportmaster.png') no-repeat center;
}
